@if (member) {
	<div class="row">
		<div class="col-4 text-center">
			<h1>Your Profile</h1>
		</div>
		<div class="col-8">
			@if (editForm?.dirty) {
				<div class="alert alert-danger py-2">
					<strong>Changes Made - Save!</strong>
				</div>
			}
		</div>
		<div class="col-4">
			<div class="card border-dark">
				<img src="{{ member.photoUrl }}" />
				<div class="card-body">
					<strong>User: </strong>
					<p class="member-details">{{ member.username }}</p>
					<strong>Experience: </strong>
					<p class="member-details">{{ member.experience }}</p>
					<p class="member-details">
						<strong>Created: </strong>{{ member.created }}
					</p>
					<p class="member-details">
						<strong>Last Active: </strong>{{ member.lastActive }}
					</p>
				</div>
				<div class="card-footer">
					<button
						[disabled]="!editForm.dirty"
						form="editForm"
						class="btn btn-success col-12"
					>
						Save
					</button>
				</div>
			</div>
		</div>
		<div class="col-8">
			<div>
				<tabset>
					<tab heading="About">
						<form
							id="editForm"
							#editForm="ngForm"
							(ngSubmit)="updateMember()"
						>
							<h4 class="mt-3 mb-2">Specialty</h4>
							<input
								type="text"
								name="specialty"
								[(ngModel)]="member.specialty"
							/>
							<h4 class="mt-3 mb-2">Experience</h4>
							<input
								type="text"
								name="experience"
								[(ngModel)]="member.experience"
							/>
						</form>
					</tab>
					<tab heading="Pictures"
						><app-photo-edit [member]="member"></app-photo-edit
					></tab>
				</tabset>
			</div>
		</div>
	</div>
}
