<div class="form-inline d-flex align-items-center">
	<div class="btn-group" btnRadioGroup [(ngModel)]="container">
		<button
			class="btn btn-success mb-0"
			btnRadio="unread"
			(click)="loadMessages()"
		>
			Unread
		</button>
		<button
			class="btn btn-success mb-0"
			btnRadio="inbox"
			(click)="loadMessages()"
		>
			Inbox
		</button>
		<button
			class="btn btn-success mb-0"
			btnRadio="outbox"
			(click)="loadMessages()"
		>
			Outbox
		</button>
	</div>
</div>

@if (!msgService.paginatedMessages()?.items) {
	<div>No messages!</div>
} @else {
	<table class="table">
		<thead>
			<tr>
				<th scope="col">Message</th>
				<th scope="col">From</th>
				<th scope="col">Sent</th>
			</tr>
		</thead>
		<tbody>
			@for (
				message of msgService.paginatedMessages()?.items;
				track message.id
			) {
				<tr>
					<td>{{ message.content }}</td>
					<td>{{ message.senderUsername }}</td>
					<td>{{ message.timeSent }}</td>
				</tr>
			}
		</tbody>
	</table>
}
