<div class="card">
	<div class="card-body">
		<ul>
			@for (message of msgThread; track message.id) {
				@if (message.receiverUsername !== username()) {
					<li class="receiver">
						{{ message.content }}
						<img
							src="{{
								message.senderPicUrl || './assets/user.png'
							}}"
							class="rounded-circle"
						/>
					</li>
				} @else {
					<li>
						{{ message.content }}
						<img
							src="{{
								message.senderPicUrl || './assets/user.png'
							}}"
							class="rounded-circle"
						/>
					</li>
				}
			}
		</ul>
	</div>

	<div class="card-footer">
		<form #form="ngForm" class="d-flex mb-3">
			<input
				type="text"
				placeholder="send message"
				class="form-control"
			/>
			<button class="btn btn-success btn-lg">Send</button>
		</form>
	</div>
</div>
