.rounded-circle {
	max-height: 30px;
	margin-left: 5px;
}

.receiver {
	text-align: end;
	border-color: red;
}

li {
	margin-bottom: 10px;
	padding-bottom: 10px;
	border-bottom: 2px dotted white;
}

ul {
	list-style-type: none;
}

.form-control {
	margin-right: 20px;
}

.btn {
	width: 150px;
}
