<div class="row">
	@for (member of memberService.paginatedMembers()?.items; track member.id) {
		<div class="col-2">
			<app-member-card [member]="member"></app-member-card>
		</div>
	}
</div>

@if (memberService.paginatedMembers()?.pagination) {
	<pagination
		[totalItems]="
			(memberService.paginatedMembers()?.pagination)!.totalItems
		"
		[itemsPerPage]="
			(memberService.paginatedMembers()?.pagination)!.itemsPerPg
		"
		[maxSize]="5"
		(pageChanged)="onPageChanged($event)"
	></pagination>
}
