<div class="row">
	<h2>Matches</h2>
	<form #form="ngForm" class="d-flex mb-3" (ngSubmit)="loadMembers()">
		<label>Experience: </label>
		<select
			class="form-select form-select-md"
			[ngModel]="userParams.experience"
			name="experience"
			class="filter-btn"
		>
			<option selected>-----Experience-----</option>
			<option value="Novice">Novice</option>
			<option value="Improving!">Improving!</option>
			<option value="Home all-star">Home all-star</option>
			<option value="Semi-pro">Semi-pro</option>
			<option value="Pro">Pro</option>
		</select>
	</form>

	@for (member of memberService.paginatedMembers()?.items; track member.id) {
		<div class="col-2">
			<app-member-card [member]="member"></app-member-card>
		</div>
	}
</div>

@if (memberService.paginatedMembers()?.pagination) {
	<pagination
		[totalItems]="
			(memberService.paginatedMembers()?.pagination)!.totalItems
		"
		[itemsPerPage]="
			(memberService.paginatedMembers()?.pagination)!.itemsPerPg
		"
		[maxSize]="5"
		(pageChanged)="onPageChanged($event)"
	></pagination>
}
