<div class="row">
	<h1>Users</h1>
	<hr />
	<form #form="ngForm" class="d-flex mb-3" (ngSubmit)="loadMembers()">
		<label class="select-label">
			<strong>Specialty:</strong>
		</label>
		<select
			class="form-select filter-btn"
			[(ngModel)]="memberService.userParams().specialty"
			name="specialty"
		>
			<option value="African">African</option>
			<option value="American">American</option>
			<option value="Asian">Asian</option>
			<option value="Australian">Australian</option>
			<option value="Central-American">Central-American</option>
			<option value="European">European</option>
			<option value="Middle-Eastern">Middle-Eastern</option>
			<option value="South-American">South-American</option>
		</select>

		<label class="select-label"> <strong>Experience:</strong> </label>
		<select
			class="form-select filter-btn"
			[(ngModel)]="memberService.userParams().experience"
			name="experience"
		>
			<option value="Novice">Novice</option>
			<option value="Improving!">Improving!</option>
			<option value="Home all-star">Home all-star</option>
			<option value="Semi-pro">Semi-pro</option>
			<option value="Pro">Pro</option>
		</select>
		<button type="submit" class="btn btn-primary mx-1 col-1">Filter</button>
		<button
			type="submit"
			class="btn btn-warning mx-1 col-1"
			(click)="resetFilter()"
		>
			Reset
		</button>
	</form>
	<hr />

	@for (member of memberService.paginatedMembers()?.items; track member.id) {
		<div class="col-2">
			<app-member-card [member]="member"></app-member-card>
		</div>
	}
</div>

@if (memberService.paginatedMembers()?.pagination) {
	<pagination
		[totalItems]="
			(memberService.paginatedMembers()?.pagination)!.totalItems
		"
		[itemsPerPage]="
			(memberService.paginatedMembers()?.pagination)!.itemsPerPg
		"
		[maxSize]="5"
		(pageChanged)="onPageChanged($event)"
	></pagination>
}
