<form [formGroup]="registerForm" (ngSubmit)="register()" autocomplete="off">
	<h2 class="text-center text-primary">Register</h2>
	<div class="mb-3 form-floating">
		<app-text-input
			[formControl]="$any(registerForm.get('username'))"
			[label]="'username'"
		>
		</app-text-input>
	</div>
	<div class="mb-3 form-floating">
		<app-text-input
			[formControl]="$any(registerForm.get('password'))"
			[label]="'password'"
			[type]="'password'"
		>
		</app-text-input>
	</div>
	<div class="form-group text-center">
		<button class="btn btn-success" type="submit">Register</button>
	</div>
</form>
