<form [formGroup]="registerForm" (ngSubmit)="register()" autocomplete="off">
	<h2 class="text-center text-primary">Register</h2>
	<hr />
	<div class="mb-3 form-floating">
		<app-text-input
			[formControl]="$any(registerForm.get('username'))"
			[label]="'Username'"
		>
		</app-text-input>
	</div>
	<div class="mb-3 form-floating">
		<app-text-input
			[formControl]="$any(registerForm.get('password'))"
			[label]="'Password'"
			[type]="'password'"
		>
		</app-text-input>
	</div>

	<select class="form-select form-select-md mb-3">
		<option selected>Food Specialty</option>
		<option value="American">American</option>
		<option value="African">African</option>
		<option value="Central-American">Central-American</option>
		<option value="Middle-Eastern">Middle-Eastern</option>
		<option value="Asian">Asian</option>
		<option value="European">European</option>
	</select>

	<select class="form-select form-select-md mb-3">
		<option selected>Experience</option>
		<option value="Novice">Novice</option>
		<option value="Improving!">Improving!</option>
		<option value="Home-all-star">Home-all-star</option>
		<option value="Semi-pro">Semi-pro</option>
		<option value="Pro">Pro</option>
	</select>
	<div class="form-group text-center">
		<button class="btn btn-success" type="submit">Register</button>
	</div>
</form>
