<div class="mb-3 form-floating">
	<input
		[class.is-invalid]="control.invalid && control.touched"
		class="form-control me-2"
		placeholder="Username"
		[formControl]="control"
	/>
	<label>{{ label() }}</label>
	<div *ngIf="control?.hasError('required')" class="invalid-feedback">
		{{ label() }} required!
	</div>
	<div *ngIf="control?.hasError('minlength')" class="invalid-feedback">
		{{ label() }} must be at least
		{{ control.getError("minlength")?.requiredLength }} chars!
	</div>
	<div *ngIf="control?.hasError('maxlength')" class="invalid-feedback">
		{{ label() }} cant exceed
		{{ control.getError("maxlength").requiredLength }} chars!
	</div>
</div>
