<table class="table">
	<thead>
		<tr>
			<th scope="col">User</th>
			<th scope="col">Role(s)</th>
		</tr>
	</thead>
	<tbody>
		@for (user of usersWithRoles; track $index) {
			<tr>
				<td>
					{{ user.username }}
				</td>
				<td>
					@for (
						role of user.roles;
						track $index;
						let index = $index
					) {
						<div class="form-check form-check-inline">
							<input
								class="form-check-input"
								type="checkbox"
								value=""
								id="defaultCheck{{ index }}"
							/>
							<label
								class="form-check-label"
								for="defaultCheck{{ index }}"
							>
								{{ role }}
							</label>
						</div>
					}
				</td>
			</tr>
		}
	</tbody>
</table>
