<div class="card mb-4">
  <div class="card-img-wrapper">
    <img src="{{ member().photoUrl }}" class="card-img-top" />
  </div>
  <div class="card-body">
    <h5 class="card-title text-center mb-1">
      <i class="fa fa-user me-2"></i>{{ member().username }}
    </h5>
    <p class="card-text text-muted text-center">
      {{ member().experience }}
    </p>
    <ul class="list-inline card-btns text-center">
      <button class="btn btn-primary">
        <li class="list-inline-item"><i class="fa fa-heart me-2"></i></li>
      </button>
      <button class="btn btn-primary">
        <li class="list-inline-item"><i class="fa fa-envelope me-2"></i></li>
      </button>
    </ul>
  </div>
</div>
