<head>
	<link
		href="https://fonts.googleapis.com/icon?family=Material+Icons"
		rel="stylesheet"
	/>
</head>

<div class="card border-dark mb-4">
	<div class="card-img-wrapper">
		<img
			src="{{ member().photoUrl || './assets/user.png' }}"
			class="card-img-top"
		/>
	</div>
	<div class="card-body">
		<h5 class="card-title text-center mb-1">
			<i class="material-icons me-1">restaurant</i>
			<i>{{ member().specialty }}</i>
		</h5>
		<p class="card-text text-muted text-center">
			{{ member().experience }}
		</p>
		<ul class="list-inline text-center mb-0">
			<!-- @if (isLikedByUser()) {
				<li class="list-inline-item">
					<i class="material-icons heart">favorite</i>
				</li>
			} -->
			<button
				class="btn btn-dark btn-sm me-2"
				routerLink="/members/{{ member().username }}"
			>
				<li class="list-inline-item">
					<i class="material-icons">info</i>
				</li>
			</button>
			<!-- <button (click)="toggleLike()" class="btn btn-danger btn-sm me-2">
				<li>
					<i class="material-icons">favorite</i>
				</li>
			</button> -->
			<button class="btn btn-primary btn-sm">
				<li class="list-inline-item">
					<i class="material-icons">mail</i>
				</li>
			</button>
		</ul>
	</div>
</div>
