<head>
	<link
		href="https://fonts.googleapis.com/icon?family=Material+Icons"
		rel="stylesheet"
	/>
</head>

<div class="row">
	@for (pic of member().photos; track pic.id) {
		<div class="col-2 text-center">
			<img src="{{ pic.url }}" class="img-thumbnail mb-1" />
			<button class="btn btn-danger btn-sm">
				<i class="material-icons">delete</i>
			</button>
		</div>
	}
</div>

<div class="row">
	<div class="col-3">
		<h3 class="mt-5 mb-3">Add Pic</h3>
		<input type="file" ng2FileSelect [uploader]="uploader" />
	</div>
	<div
		class="col-12"
		style="margin-bottom: 40px"
		*ngIf="uploader?.queue?.length"
	>
		<table class="table">
			<thead>
				<tr>
					<th width="50%">Name</th>
					<th>Size</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let item of uploader?.queue">
					<td>
						<strong>{{ item?.file?.name }}</strong>
					</td>
					<td *ngIf="uploader?.options?.isHTML5" nowrap>
						{{ item?.file?.size / 1024 / 1024 | number: ".2" }} MB
					</td>
				</tr>
			</tbody>
		</table>
		<div>
			<div>
				Queue progress:
				<div class="progress">
					<div
						class="progress-bar"
						role="progressbar"
						[ngStyle]="{ width: uploader?.progress + '%' }"
					></div>
				</div>
			</div>
			<button
				type="button"
				class="btn btn-success btn-lg"
				(click)="uploader?.uploadAll()"
				[disabled]="!uploader?.getNotUploadedItems()?.length"
			>
				<span class="glyphicon glyphicon-upload"></span> Upload
			</button>
			<button
				type="button"
				class="btn btn-danger btn-lg"
				(click)="uploader?.clearQueue()"
				[disabled]="!uploader?.queue?.length"
			>
				<span class="glyphicon glyphicon-trash"></span> Remove
			</button>
		</div>
	</div>
</div>
